.gc-jumbotron {
    background: #f1f1f1 url(/images/chapel-maxres.jpg) no-repeat top center;
    background-size:cover;
    min-height: 280px;
    border-radius: 0;
}
    .gc-jumbotron__text {
        color: white;
        font-size: 1.8rem;
        text-align: right;
        margin-right: 3rem;
        margin-bottom: 3rem;
    }
    .gc-jumbotron__text p {        
        background-color: rgb(65, 176, 226, 0.5);
        display: flex;
        padding: 1.5rem 2.5rem;
    }
    
    .gift-cert-400max {
        max-width: 400px;
        margin-left: 10%;
    }

/* confirm page */
.review-item {
    font: 1.2rem;
    margin-top: 0.5rem;
}
    .review-item span.review-label {
        font-weight: bold;
        width: 200px;
    }
/* check page */
.check-result {
    font-weight: bold;
}