
@import 'forms.css';

a
{
  color: #005252;
  text-decoration: underline;
}

a:hover
{
  color: #8E8D5D;
  text-decoration: none;
}

a.old
{
  color: #669999;
  text-decoration: none;
}

a.old:hover
{
  color: #bdd1d2;
  text-decoration: none;
}

body
{
  font-weight: normal;
  font-size: 12px;
  background: #fff;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll;
}

p
{
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 1px;
  margin-left: 10px;
  color: #333333;
  margin-right: 50px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-decoration: none;
}

h1
{
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
  color: #999933;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

h2
{
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

h3
{
  font-weight: bold;
  font-size: 11px;
  color: #999966;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

h4
{
  font-weight: bold;
  font-size: 9px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

li
{
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 1px;
  margin-left: 10px;
  color: #333333;
  margin-right: 50px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-decoration: none;
}

.bodytext1
{
  font-weight: normal;
  font-size: 11px;
  color: #999999;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-decoration: none;
}

.bodyHeader1
{
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.bodyHeader2
{
  font-weight: bold;
  font-size: 11px;
  color: #999966;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.newsHeader
{
  font-weight: bold;
  font-size: 9px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.login
{
  font-weight: normal;
  font-size: 11px;
  color: #999999;
  line-height: normal;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  text-decoration: none;
}

.footer
{
  font-weight: normal;
  font-size: 9px;
  color: #999999;
  font-family: Arial;
  text-decoration: none;
}

.link
{
  font-weight: bold;
  font-size: 9px;
  color: #669999;
  line-height: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.formButton
{
  border-right: #7e7e54 1px solid;
  border-top: #7e7e54 1px solid;
  font-weight: bold;
  font-size: 9px;
  vertical-align: middle;
  border-left: #7e7e54 1px solid;
  color: #ffffff;
  border-bottom: #7e7e54 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7e7e54;
  text-decoration: none;
}

.imageCaption
{
  font-weight: normal;
  font-size: 9px;
  color: #606060;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.imageCaptionPopup
{
  font-weight: normal;
  font-size: 9px;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.searchBox
{
  border-right: #ffffff 1px solid;
  border-top: #ffffff 1px solid;
  font-weight: normal;
  font-size: 9px;
  border-left: #ffffff 1px solid;
  color: #666666;
  line-height: normal;
  border-bottom: #ffffff 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.searchBox2
{
  border-right: #666666 1px solid;
  border-top: #666666 1px solid;
  font-weight: normal;
  font-size: 9px;
  border-left: #666666 1px solid;
  color: #666666;
  line-height: normal;
  border-bottom: #666666 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.sidebar
{
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #666666;
  margin-right: 10px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}
div.error, div.success
{
  background: #f9f9f9;
  color: #333;
  border: solid 1px #999;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}
div.container
{
  background: #fff;
  color: #333;
  border: 1px solid #ADAD85;
  padding: 5px;
  margin: 5px;
}
div.container p, div.container ol, div.container ul, div.container a:link, div.container a:hover, div.container a:visited, div.container a:visited:hover
{
  background: #fff;
}
div.container table, div.container td
{
  background: #fff;
  color: #333;
  border: 1px solid #999;
  border-collapse: collapse;
}
p.center
{
  text-align: center;
}
div.debug
{
  background: #fff;
  color: #666;
  font-family: monospace;
  border: 1px solid #999;
  padding: 10px;
  margin: 10px;
}
span.required
{
  color: #cc0000;
  font-weight: bold;
}

a.link_facebook {
display:block;
position:absolute;
right:-160px;
top:400px;
border:none;
outline:none;
}
a.link_facebook:hover {
right:0;
border:none;
outline:none;
}
a.link_facebook img {
border:none;
outline:none;
}

a.link_twitter {
display:block;
position:absolute;
right:-160px;
top:450px;
border:none;
outline:none;
}
a.link_twitter:hover {
right:0;
border:none;
outline:none;
}
a.link_twitter img {
border:none;
border:none;
outline:none;
}
a.link_blog {
display:block;
position:absolute;
right:-160px;
top:500px;
border:none;
outline:none;
}
a.link_blog:hover {
right:0;
border:none;
outline:none;
}
a.link_blog img {
border:none;
border:none;
outline:none;
}

label {
	display:inline-block;
	width:100px;
}